*{
	font-size:12px;
	
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.fileset_style {
    border: 1px solid #DDDDDD;
    margin-bottom: 8px;
    padding: 8px;
    padding-top: 4px;
    margin: 0 auto;
    width: 97%;
}

.leg_style {
    color: #2f80d1;
    height: 23px;
    line-height: 10px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    padding-left: 8px;
    padding-right: 8px;
}
#zhuti{
	width:970px;
	margin:0 auto;
	border:1px solid #DDDDDD;
	margin-top:50px;
}
#cx{margin:0 auto;}
#gt{
	background-color:red;
	width:900px;
	height:300px;
	}
.jgbm{
	height: 25px;
    background-color: #8FBCE8;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
}
.you-shang{
	margin-top: 10px;

}
#suom{
	width: 600px;
	height: 200px;
	border: 1px solid #E5E5E5;
}